.custom-button {
    --background: red;
    --color: white;
    --padding-start: 90px;
    --padding-end: 90px;
    --padding-top: 22px;
    --padding-bottom: 23px;
    --border-radius: 20px;
    font-size: 17px;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente */
    align-items: center; /* Alinha verticalmente ao centro */
}

.button-text {
  flex-grow: 1; /* Permite que o texto ocupe o espaço restante */
  text-align: left; /* Alinha o texto à esquerda */
}

.button-arrow {
  height: auto;
  margin-left: 10px; /* Espaçamento entre o texto e a seta */
}

  