.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  padding-top: 60px;
  background: linear-gradient(to bottom, white 30%, black 30%);
  align-self: center;
}

.block {
  width: 100%;
  height: 90vh;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  border-radius: 20px;
  margin-top: -120px;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  justify-content: center;
  align-items: center;
  display: flex;
}

ion-modal {
  --height: auto;
}