.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  padding-top: 60px;
  background: linear-gradient(to bottom, white 30%, black 30%);
  align-self: center;
}

.GetStartedLogo {
  margin-bottom: 30px;
}

.block {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90vh;
  align-items: center;
  padding: 26px;
  margin: 0;
  width: 100%;
  height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*  padding: 0px;
  display: flex;
  flex-direction: column; */
}

.card {
  border-radius: 20px;
  margin-top: -120px;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  /* margin-top: 40px; */
  /* margin-bottom: 15px; */
  color: #FFF;
  text-align: center;
  font-family: 'Poppins';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* padding: 30px; */
  width: 247px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 247px;
  margin-bottom: 30px;
}

.title_modal {
  color: #000;
  font-family: 'Poppins';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 35px;
}

.subtitle_modal {
  color: #969AA8;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.LogoPHModal {
  width: 180px;
  height: 103px;
  flex-shrink: 0;
}

/* Estilo para os inputs de login */
.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* Espaçamento entre os inputs */
  padding: 0px;
  width: 100%;
}

/* Estilo para cada IonItem (input) */
.custom-input {
  height: 50px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #F8F7FB;
  background: #F8F7FB;
  --timing: 0.3s;
  --width-of-input: 173px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: gray;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: 10px;
  transition: border-radius 0.5s ease;
  background: #F8F7FB;
  font-size: 0.9rem;
  width: 315px;
  height: 50px;
  /* padding-inline: 0.5em; */
  /* padding-block: 0.7em; */
  border: none;
  margin-top: 10px;
}

.form {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-button-modal {
  width: 327px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #D70404;
  margin-top: 20px;
}

.custom-hr {
  width: 73px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: #F6F6F6;
}

.check {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 0.7px solid #D0D0D0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-wrap: nowrap;
  align-items: center;
}

.p_credenciais {
  color: #ABB3BB;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 0.24px;
  margin-left: -8px;
}

input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* Estilo para o label */
.custom-label {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: self-start;
  margin-bottom: 15px;
}

/* Estilo para o IonInput */
.custom-input .ion-input {
  width: 315px;
  height: 50px;
  flex-shrink: 0;
  fill: #F8F7FB;
  stroke-width: 1px;
  stroke: #F8F7FB;
}

/* Estilo para o IonInput quando em foco */
.custom-input .ion-input:focus {
  --background: #e0e0e0;
  /* Fundo um pouco mais escuro quando em foco */
  --border-color: #007bff;
  /* Cor da borda quando em foco */
}


ion-modal {
  --height: auto;
}

/* Remover o padding e margens padrões do Ionic */
.modal-content {
  padding: 0;
  margin: 0;
}

/* Ajustar o conteúdo do modal */
.modal-header {
  text-align: center;
  margin-bottom: 16px;
}

/* Estilo para a imagem no topo */
.modal-image img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

/* Estilo para o formulário */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

/* Estilo para cada item do formulário */
.login-item {
  margin: 0;
  padding: 0;
}

/* Estilo para o botão */
.submit-button {
  margin-top: 20px;
}

.custom-content-hr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-p-hr {
  padding-left: 16px;
  padding-right: 16px;
  width: 157px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #969AA8;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.custom-not-account {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-not-account-span {
  color: #D70404;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 3px;
}