.custom-proposta1-content {
    background: #0E0E0E;
    height: auto;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.custom-proposta1-navbar {
    display: inline-flex;
align-items: center;
gap: 232px;
}

.custom-proposta1-navbar button {
    width: 42px;
height: 42px;
border-radius: 21px;
background: #242424;
}

.custom-proposta1-navbar h3 {
    color: #878787;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-proposta1-navbar h4 {
    color: #F1F1F1;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 90% */
    text-wrap: nowrap;
}

.custom-proposta1-navbar h5 {
    color: #048547;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-proposta1-card {
    width: 343px;
    height: 344px;
    flex-shrink: 0;
    border-radius: 32px;
    border: 1px solid #4F4F4F;
    background: #242424;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-proposta1-status {
    display: flex;
    justify-content: space-around;
    width: 307px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #989898;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(8px);
    color: white;
}

.custom-proposta1-status p {
    margin-top: -5px;
}

.cardimg {
    width: 210px;
}

.custom-proposta1-grid {
    display: flex;
    width: 264px;
    height: 72px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    margin-top: 25px;
}

.custom-proposta1-grid button{
    display: flex;
    width: 72px;
    height: 72px;
    padding: 14px 6.2px 13.425px 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background: #242424;
}

.custom-proposta1-proposta {
    display: flex;
    flex-direction: column;
    padding: 2px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #242424;
    width: 90%;
    height: 15vh;
}


.custom-proposta1-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-proposta1-item h3 {
    width: 85px;
    flex-shrink: 0;
    color: #F1F1F1;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

.custom-proposta1-item p {
    color: #F1F1F1;
    text-align: right;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

.custom-proposta1-item-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-proposta1-item-total h3 {
    width: 85px;
    flex-shrink: 0;
    color: #00E376;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

.custom-proposta1-item-total p {
    color: #00E376;
    text-align: right;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

.custom-proposta1-button {
    display: flex;
    width: 242px;
    padding: 17px 131px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background: #048547;
    color: #FFF;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.custom-proposta1-describe {
    width: 335px;
    color: #808080;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    margin-top: 10px;
    margin-bottom: 20px;
}