.custom-dash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191225;
}

.custom-dash-p-sejabemvindo {
    color: var(--color-system-text-text-white, #FFF);
    text-align: center;
    /* Mobile/Body 1/Regular */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    /* 21.28px */
    letter-spacing: 0.32px;
    margin-top: 20px;
}

.custom-dash-navbar {
    display: flex;
    padding: 0px var(--Spacing-System-spacing-none, 0px);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: var(--Spacing-System-spacing-16, 117px);
    align-self: stretch;
    margin: 20px;
}

.custom-div-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.custom-nav-search {
    display: flex;
    width: 64px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.custom-dash-menu {
    border-radius: var(--Spacing-System-spacing-none, 0px);
    /* background: #191225; */
    /* justify-content: space-around; */
    color: white;
    width: 100%;
}


.custom-dash-content-cards {
    display: flex;
    padding: var(--Spacing-System-spacing-none, 0px) var(--Spacing-System-spacing-16, 16px);
    justify-content: space-around;
    align-items: flex-start;
    gap: var(--Spacing-System-spacing-8, 8px);
    align-self: stretch;
}

.custom-dash-card {
    display: flex;
    padding: var(--Spacing-System-spacing-20, 23px) var(--Spacing-System-spacing-24, 14px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-System-spacing-12, 10px);
    flex: 1 0 0;
    border-radius: var(--Radius-System-radius-20, 20px);
    background: #D70404;
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;
    text-align: center;
}

.custom-dash-products {
    display: flex;
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 771px;
    border-radius: var(--Radius-System-radius-32, 32px);
    background: #F7F7F7;
}